@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 100% 98%;
    --foreground: 249 80% 10%;
    --card: 0 0% 100%;
    --card-foreground: 249 80% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 249 80% 10%;
    --primary: 249 80% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 250 100% 94%;
    --secondary-foreground: 249 80% 10%;
    --muted: 250 100% 94%;
    --muted-foreground: 249 20% 50%;
    --accent: 240 100% 87%;
    --accent-foreground: 249 80% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 250 100% 90%;
    --input: 250 100% 90%;
    --ring: 249 80% 60%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 249 20% 10%;
    --foreground: 250 100% 98%;
    --card: 249 20% 12%;
    --card-foreground: 250 100% 98%;
    --popover: 249 20% 10%;
    --popover-foreground: 250 100% 98%;
    --primary: 249 80% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 249 20% 20%;
    --secondary-foreground: 250 100% 98%;
    --muted: 249 20% 20%;
    --muted-foreground: 250 30% 70%;
    --accent: 240 100% 87%;
    --accent-foreground: 249 80% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 249 20% 20%;
    --input: 249 20% 20%;
    --ring: 249 80% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
